<input type="text" id="search-term" name="searchTerm" ng-model="searchTerm" required="">
<button type="submit" id="submit" ng-click="submit()">Submit</button>
<div class="slider">
	<a class="arrow prev fa fa-chevron-left" ng-click="nextSlide()"></a>
	<img class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="results in results" ng-src="{{results.gif}}">
	<a class="arrow next fa fa-chevron-right" ng-click="prevSlide()"></a>
	<ul class="dots">
		<li class="dot" ng-repeat="results in results">
			<a ng-class="{'active':isCurrentSlideIndex($index)}"
				 ng-click="setCurrentSlideIndex($index);"></a>
		</li>
	</ul>
</div>
<a ng-href="{{results.url}}" target="_blank" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="results in results">{{results.bitly}}</a>
